<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyCk2y1X6n-D0q7wvMkWpw3CrsBbd0rqT4g",
            authDomain: "bubbly-hope-386107.firebaseapp.com",
            projectId: "bubbly-hope-386107",
            storageBucket: "bubbly-hope-386107.appspot.com",
            messagingSenderId: "678578659104",
            appId: "1:678578659104:web:33114c8b6bd87e66d20145",
            measurementId: "G-YBTYCBMFSQ"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();
        db.collection('users').doc(localStorage.uid).set({
        Course:true
        })
        firebase.analytics.logEvent('BoughtCourse');
    </script>
</body>
</html>